* {
     
}
body {
    font-family: 'Montserrat', sans-serif;
   
}
.back-ground {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 110vh;
}
.header {
    background-color:  rgba(0, 0, 0, 0.41);
    height: 54px;
    box-sizing: border-box;
    padding-top: 16px;
}
.header-menu {
    width: 1034px;
    margin: 0 auto;
}
.name-logo {
    color:  #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease-out;
}
.name-logo:hover {
    color:  #3cb878;
}
.header-nav {
    display: inline-block;
    float: right;
}
.icon {
    display: inline-block;
    vertical-align: bottom;
    background-image: url(../img/sprites.png);
    background-repeat: no-repeat;
    margin: 0 14px;
}
.icon-calendar {
    background-position: 0 0;
    width: 19px;
	height: 19px;
}
.icon-calendar:hover {
    background-position: 0 -31px;
}
.icon-forum {
    background-position: -46px 0;
    width: 28px;
	height: 20px;
}
.icon-forum:hover {
    background-position: -47px -30px;
}
.icon-compass {
    background-position: -102px 0;
    width: 20px;
	height: 20px;
    margin-right: 25px;
}
.icon-compass:hover {
    background-position: -103px -30px;
}

.register {
    color:  #ffffff;
    font-size: 14px;
    line-height: 21px;
    border-left: 1px solid rgb(46, 44, 44);
    margin-top: 0;
    float: right;
    padding-left: 25px;
}
.log-in,
.sing-up {
    text-decoration: none;
    color:  #3cb878;
}
.register-form {
    position: absolute;
    top: calc(50% + 54px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 444px;
    height: 548px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    padding: 29px 60px;
    box-sizing: border-box;          
}
.form-up {
    color:  #434343;
    font-size: 20px;
    display: inline-block;
    margin: 0;
    margin-bottom: 15px;
}
.form-up::before {
    content: '';
    display: table;
    width: 18px;
    height: 18px;
    background-color: rgb(60, 184, 120);
    position: absolute;
    left: 0;
}
.form-in {
    color:  #3cb878;
    font-size: 14px;
    text-decoration: none;
    float: right;
}
.btn-fa{
    border-radius: 3px;
    background-color:  #305db8;
    width: 157px;
    height: 46px;
    border-style: none;
    color:  #ffffff;
    font-size: 16px;
    padding: 0;
    line-height: 21px;
    margin-right: 5px;
    cursor: pointer;
    transition: all .5s ease-out;
}
.btn-fa:hover {
    background-color: rgb(33, 74, 151);
}
.btn-go {
    border-radius: 3px;
    background-color:  #df4a32;
    width: 157px;
    height: 46px;
    border-style: none;
    color:  #ffffff;
    font-size: 16px;
    padding: 0;
    line-height: 21px;
    cursor: pointer;
    transition: all .5s ease-out;
}
.btn-go:hover {
    background-color: rgb(196, 63, 40);
}
.fa-facebook-f {
    padding-right: 35px;
    border-right: 1px solid rgb(39, 83, 166);
    padding-right: 6px;
    margin-right: 21px;
    font-size: 21px;
}
.fa-google-plus-g {
    padding-right: 35px;
    border-right: 1px solid rgb(201, 65, 41);
    padding-right: 6px;
    margin-right: 21px;
    font-size: 21px;
}
.line {
    position: relative;
}
.line-or{
    color:  #848484;
    font-size: 14px;
    text-align: center;
}
.line-or::before {
    content: '';
    width: 135px;
    height: 1px;
    background-color: rgb(234, 234, 234);
    position: absolute;
    left: 0;
    top: 8px;
}
.line-or::after {
    content: '';
    width: 135px;
    height: 1px;
    background-color: rgb(234, 234, 234);
    position: absolute;
    right: 0;
    top: 8px;
}
.field {
    border-radius: 3px;
    background-color:  #ffffff;
    width: 322px;
    height: 46px;
    border: 1px solid rgb(190, 190, 190);
    margin-bottom: 10px;
    padding-left: 20px;
    box-sizing: border-box;
}
.field:focus {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}
.check {
    display: none;
}
.check + label::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid rgb(190, 190, 190);
    box-sizing: border-box;
    padding-left: 20px;
    margin-right: 10px;
    border-radius: 3px;
    cursor: pointer;
}
.check:checked + label::before {
    background-image: url(../img/checkbox.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 22px;
}
.consent-link {
    color:  #3cb878;
    font-size: 14px;
    text-decoration: none;
}
.btn-create {
    width: 322px;
    height: 46px;
    background-color: rgb(57, 185, 121);
    border-style: none;
    border-radius: 3px;
    margin-top: 20px;
    color:  #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s ease-out;
}
.btn-create:hover {
    background-color: rgb(46, 155, 101);
}